@page
@model Crintea_Miruna_Proiect.Pages.SkatingClubs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SkatingClub</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SkatingClub.Name" class="control-label"></label>
                <input asp-for="SkatingClub.Name" class="form-control" />
                <span asp-validation-for="SkatingClub.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkatingClub.Location" class="control-label"></label>
                <input asp-for="SkatingClub.Location" class="form-control" />
                <span asp-validation-for="SkatingClub.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkatingClub.OpeningYear" class="control-label"></label>
                <input  asp-for="SkatingClub.OpeningYear" class="form-control" />
                <span asp-validation-for="SkatingClub.OpeningYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
