@page
@model Crintea_Miruna_Proiect.Pages.ProgramElements.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProgramElement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProgramElement.ID" />
            <div class="form-group">
                <label asp-for="ProgramElement.SkaterID" class="control-label"></label>
                <select asp-for="ProgramElement.SkaterID" class="form-control" asp-items="ViewBag.SkaterID"></select>
                <span asp-validation-for="ProgramElement.SkaterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgramElement.ElementID" class="control-label"></label>
                <select asp-for="ProgramElement.ElementID" class="form-control" asp-items="ViewBag.ElementID"></select>
                <span asp-validation-for="ProgramElement.ElementID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
